.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  width: 100px;
  height: 100px;
}
.tictac-div {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
}
.outer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.play-again{
  margin: 10px;
  border-radius: 20px;
  height:40px;
  width: 150px;
}
